extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero.section
    .hero__container
        +image('titles/portfolio-header.png', 'page title', 'title-img')
        .user.hero__user
            .user__pic-container
                .user__pic
                    +image('content/user.jpg', 'user pic', 'user__pic-img')
            .user__info
                .user__name Алексей Высоцкий
                .user__desk Личный сайт веб-разработчика
    .hero__down-arrow-container
        button(type="button").down-arrow#down-arrow
    .hero__socials
        +socials
    .hero__menu
        a(href="").hamburger
        .hamburger__planks
  
  .about-page
    section.about
      .about__triangles
         +section-triangles('#efeee9', '#eeebdf')
  section.blog
    .blog__content
      .blog-nav  
        ul.blog-nav__list 
          each item in ['Самое важное в SASS', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
            li.blog-menu__item
              a(href="#").blog-nav__link #{item}

      .articles
        ul.articles__list
          li.articles__item
            article.article
              .article__title Самое важное в SASS
              .article__date 22 ноября 2018
              .article__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .article__code
                  +image('', 'Пример кода', 'article__code-example')
          li.articles__item
            article.article
              .article__title Приёмы в вёрстке, без которых не обходится ни один сайт          
              .article__date 13 ноября 2018
              .article__content.text-content   
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
