.triangles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.triangles.triangles_color_beigelight {
    fill: #efeee9;
}

.triangle--fill-white {
    fill: #ffffff;
}